extends ../layout.pug

block content
  if story
    video(loop autoplay controls=false)
      source(src=story.mp4Source type="video/mp4")
      source(src=story.webmSource type="video/webm")
  else
    p Empty
